@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

nav {
    background-color: #6295cc;
}

nav a {
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    font-weight: 200;
    padding-right: 12px;
    text-shadow: 1px 1px 2px #000;
}

.navbar-toggler {
    color: aliceblue;
}

header {
    background-image: url("../images/IMG_0824.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.banner-header {
    text-align: center;
    /* padding-bottom: 5%; */
    padding-top: 25%;
    z-index: 1;
    position: relative;
    font-size: 30px;
    font-family: 'Courgette', Cambria, serif;
    color: aliceblue;
    bottom: -20px;
}

.header-shadow {
    text-shadow: 3px 3px 3px #000;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 572px) {
    .banner-header {
        font-size: 40px;
    }
}

@media only screen and (min-width: 990px) {
    .banner-header {
        font-size: 50px;
        bottom: -25px;
    }
}